
--
-- Create model LogEntry
--
CREATE TABLE "DJANGO_ADMIN_LOG" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ACTION_TIME" TIMESTAMP NOT NULL, "OBJECT_ID" NCLOB NULL, "OBJECT_REPR" NVARCHAR2(200) NULL, "ACTION_FLAG" NUMBER(11) NOT NULL CHECK ("ACTION_FLAG" >= 0), "CHANGE_MESSAGE" NCLOB NULL, "CONTENT_TYPE_ID" NUMBER(11) NULL, "USER_ID" NUMBER(11) NOT NULL);
ALTER TABLE "DJANGO_ADMIN_LOG" ADD CONSTRAINT "DJANGO_AD_CONTENT_T_C4BCE8EB_F" FOREIGN KEY ("CONTENT_TYPE_ID") REFERENCES "DJANGO_CONTENT_TYPE" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "DJANGO_ADMIN_LOG" ADD CONSTRAINT "DJANGO_AD_USER_ID_C564EBA6_F" FOREIGN KEY ("USER_ID") REFERENCES "USERS_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "DJANGO_ADM_CONTENT_TY_C4BCE8EB" ON "DJANGO_ADMIN_LOG" ("CONTENT_TYPE_ID");
CREATE INDEX "DJANGO_ADM_USER_ID_C564EBA6" ON "DJANGO_ADMIN_LOG" ("USER_ID");
COMMIT;

--
-- Alter field action_time on logentry
--
COMMIT;

--
-- Alter field action_flag on logentry
--
COMMIT;

--
-- Create model Permission
--
CREATE TABLE "AUTH_PERMISSION" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(50) NULL, "CONTENT_TYPE_ID" NUMBER(11) NOT NULL, "CODENAME" NVARCHAR2(100) NULL);
--
-- Create model Group
--
CREATE TABLE "AUTH_GROUP" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(80) NULL UNIQUE);
CREATE TABLE "AUTH_GROUP_PERMISSIONS" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "GROUP_ID" NUMBER(11) NOT NULL, "PERMISSION_ID" NUMBER(11) NOT NULL);
--
-- Create model User
--
ALTER TABLE "AUTH_PERMISSION" ADD CONSTRAINT "AUTH_PERM_CONTENT_T_2F476E4B_F" FOREIGN KEY ("CONTENT_TYPE_ID") REFERENCES "DJANGO_CONTENT_TYPE" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "AUTH_PERMISSION" ADD CONSTRAINT "AUTH_PERM_CONTENT_T_01AB375A_U" UNIQUE ("CONTENT_TYPE_ID", "CODENAME");
CREATE INDEX "AUTH_PERMI_CONTENT_TY_2F476E4B" ON "AUTH_PERMISSION" ("CONTENT_TYPE_ID");
ALTER TABLE "AUTH_GROUP_PERMISSIONS" ADD CONSTRAINT "AUTH_GROU_GROUP_ID_B120CBF9_F" FOREIGN KEY ("GROUP_ID") REFERENCES "AUTH_GROUP" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "AUTH_GROUP_PERMISSIONS" ADD CONSTRAINT "AUTH_GROU_PERMISSIO_84C5C92E_F" FOREIGN KEY ("PERMISSION_ID") REFERENCES "AUTH_PERMISSION" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "AUTH_GROUP_PERMISSIONS" ADD CONSTRAINT "AUTH_GROU_GROUP_ID__0CD325B0_U" UNIQUE ("GROUP_ID", "PERMISSION_ID");
CREATE INDEX "AUTH_GROUP_GROUP_ID_B120CBF9" ON "AUTH_GROUP_PERMISSIONS" ("GROUP_ID");
CREATE INDEX "AUTH_GROUP_PERMISSION_84C5C92E" ON "AUTH_GROUP_PERMISSIONS" ("PERMISSION_ID");
COMMIT;

--
-- Alter field name on permission
--
ALTER TABLE "AUTH_PERMISSION" MODIFY "NAME" NVARCHAR2(255);
COMMIT;

--
-- Alter field email on user
--
COMMIT;

--
-- Alter field username on user
--
COMMIT;

--
-- Alter field last_login on user
--
COMMIT;

--
-- Alter field username on user
--
COMMIT;

--
-- Alter field username on user
--
COMMIT;

--
-- Alter field last_name on user
--
COMMIT;

--
-- Create model ContentType
--
CREATE TABLE "DJANGO_CONTENT_TYPE" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL, "APP_LABEL" NVARCHAR2(100) NULL, "MODEL" NVARCHAR2(100) NULL);
--
-- Alter unique_together for contenttype (1 constraint(s))
--
ALTER TABLE "DJANGO_CONTENT_TYPE" ADD CONSTRAINT "DJANGO_CO_APP_LABEL_76BD3D3B_U" UNIQUE ("APP_LABEL", "MODEL");
COMMIT;

--
-- Change Meta options on contenttype
--
--
-- Alter field name on contenttype
--
--
-- MIGRATION NOW PERFORMS OPERATION THAT CANNOT BE WRITTEN AS SQL:
-- Raw Python operation
--
--
-- Remove field name from contenttype
--
ALTER TABLE "DJANGO_CONTENT_TYPE" DROP COLUMN "NAME";
COMMIT;

--
-- Create model Category
--
CREATE TABLE "IMAGESAPP_CATEGORY" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL UNIQUE);
--
-- Create model City
--
CREATE TABLE "IMAGESAPP_CITY" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL UNIQUE, "DESCRIPTION" NCLOB NULL);
--
-- Create model Country
--
CREATE TABLE "IMAGESAPP_COUNTRY" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL UNIQUE, "DESCRIPTION" NCLOB NULL);
--
-- Create model County
--
CREATE TABLE "IMAGESAPP_COUNTY" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL UNIQUE);
--
-- Create model Image
--
CREATE TABLE "IMAGESAPP_IMAGE" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NAME" NVARCHAR2(100) NULL UNIQUE, "DESCRIPTION" NCLOB NULL, "PHOTO" NVARCHAR2(100) NULL, "UPLOAD_DATE" TIMESTAMP NOT NULL, "CATEGORY_ID" NUMBER(11) NOT NULL, "CITY_ID" NUMBER(11) NOT NULL);
--
-- Create model Rating
--
CREATE TABLE "IMAGESAPP_RATING" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "STARS" NUMBER(11) NOT NULL, "COMMENT" NCLOB NULL, "IMAGE_ID" NUMBER(11) NOT NULL);
ALTER TABLE "IMAGESAPP_IMAGE" ADD CONSTRAINT "IMAGESAPP_CATEGORY__A8137306_F" FOREIGN KEY ("CATEGORY_ID") REFERENCES "IMAGESAPP_CATEGORY" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "IMAGESAPP_IMAGE" ADD CONSTRAINT "IMAGESAPP_CITY_ID_1170CD01_F" FOREIGN KEY ("CITY_ID") REFERENCES "IMAGESAPP_CITY" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__CATEGORY_I_A8137306" ON "IMAGESAPP_IMAGE" ("CATEGORY_ID");
CREATE INDEX "IMAGESAPP__CITY_ID_1170CD01" ON "IMAGESAPP_IMAGE" ("CITY_ID");
ALTER TABLE "IMAGESAPP_RATING" ADD CONSTRAINT "IMAGESAPP_IMAGE_ID_9DEFF3B3_F" FOREIGN KEY ("IMAGE_ID") REFERENCES "IMAGESAPP_IMAGE" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__IMAGE_ID_9DEFF3B3" ON "IMAGESAPP_RATING" ("IMAGE_ID");
COMMIT;

--
-- Add field user to image
--
ALTER TABLE "IMAGESAPP_IMAGE" ADD "USER_ID" NUMBER(11) NOT NULL;
--
-- Add field country to county
--
ALTER TABLE "IMAGESAPP_COUNTY" ADD "COUNTRY_ID" NUMBER(11) NOT NULL;
--
-- Add field country to city
--
ALTER TABLE "IMAGESAPP_CITY" ADD "COUNTRY_ID" NUMBER(11) NOT NULL;
--
-- Add field county to city
--
ALTER TABLE "IMAGESAPP_CITY" ADD "COUNTY_ID" NUMBER(11) DEFAULT 0 NULL;
ALTER TABLE "IMAGESAPP_CITY" MODIFY "COUNTY_ID" DEFAULT NULL;
--
-- Add field parent_category to category
--
ALTER TABLE "IMAGESAPP_CATEGORY" ADD "PARENT_CATEGORY_ID" NUMBER(11) DEFAULT 0 NULL;
ALTER TABLE "IMAGESAPP_CATEGORY" MODIFY "PARENT_CATEGORY_ID" DEFAULT NULL;
CREATE INDEX "IMAGESAPP__USER_ID_ABD10813" ON "IMAGESAPP_IMAGE" ("USER_ID");
ALTER TABLE "IMAGESAPP_IMAGE" ADD CONSTRAINT "IMAGESAPP_USER_ID_ABD10813_F" FOREIGN KEY ("USER_ID") REFERENCES "USERS_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__COUNTRY_ID_91D46430" ON "IMAGESAPP_COUNTY" ("COUNTRY_ID");
ALTER TABLE "IMAGESAPP_COUNTY" ADD CONSTRAINT "IMAGESAPP_COUNTRY_I_91D46430_F" FOREIGN KEY ("COUNTRY_ID") REFERENCES "IMAGESAPP_COUNTRY" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__COUNTRY_ID_32C73BDD" ON "IMAGESAPP_CITY" ("COUNTRY_ID");
ALTER TABLE "IMAGESAPP_CITY" ADD CONSTRAINT "IMAGESAPP_COUNTRY_I_32C73BDD_F" FOREIGN KEY ("COUNTRY_ID") REFERENCES "IMAGESAPP_COUNTRY" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__COUNTY_ID_F96EEF60" ON "IMAGESAPP_CITY" ("COUNTY_ID");
ALTER TABLE "IMAGESAPP_CITY" ADD CONSTRAINT "IMAGESAPP_COUNTY_ID_F96EEF60_F" FOREIGN KEY ("COUNTY_ID") REFERENCES "IMAGESAPP_COUNTY" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "IMAGESAPP__PARENT_CAT_08AFBCA0" ON "IMAGESAPP_CATEGORY" ("PARENT_CATEGORY_ID");
ALTER TABLE "IMAGESAPP_CATEGORY" ADD CONSTRAINT "IMAGESAPP_PARENT_CA_08AFBCA0_F" FOREIGN KEY ("PARENT_CATEGORY_ID") REFERENCES "IMAGESAPP_CATEGORY" ("ID") DEFERRABLE INITIALLY DEFERRED;
COMMIT;

--
-- Create model Session
--
CREATE TABLE "DJANGO_SESSION" ("SESSION_KEY" NVARCHAR2(40) NOT NULL PRIMARY KEY, "SESSION_DATA" NCLOB NULL, "EXPIRE_DATE" TIMESTAMP NOT NULL);
CREATE INDEX "DJANGO_SES_EXPIRE_DAT_A5C62663" ON "DJANGO_SESSION" ("EXPIRE_DATE");
COMMIT;

--
-- Create model User
--
CREATE TABLE "USERS_USER" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "PASSWORD" NVARCHAR2(128) NULL, "LAST_LOGIN" TIMESTAMP NULL, "IS_SUPERUSER" NUMBER(1) NOT NULL CHECK ("IS_SUPERUSER" IN (0,1)), "USERNAME" NVARCHAR2(150) NULL UNIQUE, "FIRST_NAME" NVARCHAR2(30) NULL, "LAST_NAME" NVARCHAR2(150) NULL, "EMAIL" NVARCHAR2(254) NULL, "IS_STAFF" NUMBER(1) NOT NULL CHECK ("IS_STAFF" IN (0,1)), "IS_ACTIVE" NUMBER(1) NOT NULL CHECK ("IS_ACTIVE" IN (0,1)), "DATE_JOINED" TIMESTAMP NOT NULL, "LOCATION_ID" NUMBER(11) NULL);
CREATE TABLE "USERS_USER_GROUPS" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "USER_ID" NUMBER(11) NOT NULL, "GROUP_ID" NUMBER(11) NOT NULL);
CREATE TABLE "USERS_USER_USER_PERMISSIONS" ("ID" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "USER_ID" NUMBER(11) NOT NULL, "PERMISSION_ID" NUMBER(11) NOT NULL);
ALTER TABLE "USERS_USER" ADD CONSTRAINT "USERS_USE_LOCATION__9AEC1412_F" FOREIGN KEY ("LOCATION_ID") REFERENCES "IMAGESAPP_CITY" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "USERS_USER_LOCATION_I_9AEC1412" ON "USERS_USER" ("LOCATION_ID");
ALTER TABLE "USERS_USER_GROUPS" ADD CONSTRAINT "USERS_USE_USER_ID_5F6F5A90_F" FOREIGN KEY ("USER_ID") REFERENCES "USERS_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USERS_USER_GROUPS" ADD CONSTRAINT "USERS_USE_GROUP_ID_9AFC8D0E_F" FOREIGN KEY ("GROUP_ID") REFERENCES "AUTH_GROUP" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USERS_USER_GROUPS" ADD CONSTRAINT "USERS_USE_USER_ID_G_B88EAB82_U" UNIQUE ("USER_ID", "GROUP_ID");
CREATE INDEX "USERS_USER_USER_ID_5F6F5A90" ON "USERS_USER_GROUPS" ("USER_ID");
CREATE INDEX "USERS_USER_GROUP_ID_9AFC8D0E" ON "USERS_USER_GROUPS" ("GROUP_ID");
ALTER TABLE "USERS_USER_USER_PERMISSIONS" ADD CONSTRAINT "USERS_USE_USER_ID_20ACA447_F" FOREIGN KEY ("USER_ID") REFERENCES "USERS_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USERS_USER_USER_PERMISSIONS" ADD CONSTRAINT "USERS_USE_PERMISSIO_0B93982E_F" FOREIGN KEY ("PERMISSION_ID") REFERENCES "AUTH_PERMISSION" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USERS_USER_USER_PERMISSIONS" ADD CONSTRAINT "USERS_USE_USER_ID_P_43338C45_U" UNIQUE ("USER_ID", "PERMISSION_ID");
CREATE INDEX "USERS_USER_USER_ID_20ACA447" ON "USERS_USER_USER_PERMISSIONS" ("USER_ID");
CREATE INDEX "USERS_USER_PERMISSION_0B93982E" ON "USERS_USER_USER_PERMISSIONS" ("PERMISSION_ID");
COMMIT;
